<h2 mat-dialog-title> {{ (data?.data ? 'Edit Pistolet' : 'Add Pistolet') }}</h2>


<form [formGroup]="AddPistoletForm">
    <mat-form-field >
      <input type="text" matInput placeholder="Pistolet Name" formControlName="name">
    </mat-form-field>
    <mat-select  formControlName="type"  >
        <mat-option value="ESSENCE"> Essence</mat-option>
        <mat-option value="DISEL"> Disel</mat-option>
      </mat-select>
  </form>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button [mat-dialog-close]="true" (click)='!this.data?.data ? addPistolet() : EditPistolet()' >Confirm</button>
  </mat-dialog-actions>
  