<div id="login" fxLayout="column">

    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/images/logos/fuse.svg">
            </div>

            <div class="title">RESET PASSWORD</div>

            <form name="forgotPasswordForm" [formGroup]="forgotPasswordForm" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="Password" matInput placeholder="Enter Your Password" formControlName="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key
                    </mat-icon>
                </mat-form-field>
                <br />
                <mat-form-field appearance="outline">
                    <mat-label>Retype Password</mat-label>
                    <input  type="Password" matInput placeholder="Enter Your Password" formControlName="Retypepassword">
                    <mat-icon matSuffix class="secondary-text">vpn_key
                    </mat-icon>
                </mat-form-field>

                <br />


                <button mat-raised-button class="submit-button" color="accent" aria-label="SEND RESET LINK"
                    [disabled]="forgotPasswordForm.invalid" (click)="ResetPassword()">
                    Reset Password
                </button>
            </form>



        </div>

    </div>

</div>